<a class="nav-link text-dark" asp-area="" asp-controller="Rookies" asp-action="GetMale">Return list member who is male</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Rookies" asp-action="GetOldest">Return the oldest one based on “Age”</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Rookies" asp-action="GetFullNameOnly">Return a new list that contains Full Name only</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Rookies" asp-action="GetYearOfBirth2000">Return list of members who has birth year is 2000</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Rookies" asp-action="GetYearOfBirth2000Up">Return list of members who has birth year greater than 2000</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Rookies" asp-action="GetYearOfBirth2000Down">Return list of members who has birth year less than 2000</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Rookies" asp-action="Csv">Return the excel file that contains dummy data of list persons</a>